{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="{{ path('home') }}">{{ 'home'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'my.posts'|trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <div class="d-flex flex-column gap-3 pb-4">
        {% for post in posts %}
            {{ include('app/components/post/item.html.twig') }}
        {% else %}
            <div class="card p-4">
                <div class="card-body">
                    No posts found
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}