{% extends 'base.html.twig' %}

{% block breadcrumbs %}

{% endblock %}

{% block body %}

    <div class="card mb-4">
        {% if postTranslation.image is not null %}
            <img style="aspect-ratio: 20/7;object-fit: cover;" src="{{ vich_uploader_asset(postTranslation, 'imageFile') }}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body p-4">
            <h2>{{ postTranslation.title }}</h2>
            <p class="card-text">
                {{ postTranslation.content|raw }}
            </p>
        </div>
    </div>

{% endblock %}